<!DOCTYPE html>
<html>
<head>
  <% var dir = ''; %>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="<%=dir;%>/music-libs/Base64.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/Base64binary.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/WebAudioAPI.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/audioDetect.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/gm.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/loader.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/plugin.audiotag.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/plugin.webaudio.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/plugin.webmidi.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/dom_request_xhr.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/dom_request_script.js" type="text/javascript"></script>
	<script src="<%=dir;%>/music-libs/midi-export.js" type="text/javascript"></script>
  <script src="<%=dir;%>/libs/jquery-built.js"></script>
</head>
<script>
// Band-aid line to see which version of the song
// the user (always me, David, at this point) wants
// to retreive.
var whichSong = window.location.href.indexOf('play2') == -1 ? 'firstsong' : 'songSystem',
    sngCntr = 0,
    defaultDelay = .5;

window.onload = function () {
    //Initialize the MIDI playing capability to give a rough idea
    //of the song as manipulated by server-side scripts.
	MIDI.loadPlugin(
    {
        /**
         * Format of the specified soundfont voice
         * @type {String}
         */
        audioFormat: 'mp3',
        /**
         * URL for soundfont voices
         * @type {String}
         */
		soundfontUrl: "./soundfont/",
        /**
         * Name of soundfont voice to use
         * @type {String}
         */
		instrument: "acoustic_grand_piano",
        /**
         * Function to trigger on progression of song
         *
         * @param  {object} state    State info
         * @param  {string} progress Progress info
         *
         * @return {undefined}
         */
		onprogress: function(state, progress) {
            //console.log('progress');
		},
        /**
         * Function to run after MIDI player plugin is loaded.
         *
         * @return {undefined}
         */
		onsuccess: function() {
            //Fetch scripted song data from the server
            $.get(
                whichSong,
                function(dat)
                {
                    playOrDL(dat, 'dl');
                }
            );

            /**
             * Play the song using MIDI player
             *
             * @param  {string} data JSON string of song data
             *
             * @return {undefined}
             */
            function playOrDL(data, playOrDL)
            {
                var parsed = '',
                    parsed = JSON.parse(data),
                    chords = parsed.song,
                    outputLink = parsed.midiLink,
                    link = '<div><a href="' + parsed.midiLink + '">' + outputLink + '</a></div>',
                    ticker = 0;

                    $('body').append(link);
                    chords.forEach(
                        function(itm, idx){
                            ticker += playChord(itm, ticker);
                        }
                    );
            }

            /**
             * Use MIDI player to play a small array of notes
             *
             * @param  {array} crd  Small array of notes
             *
             * @return {undefined}
             */
            function playChord (crd, ticker)
            {
                // console.log('playing chord; ticker: ' + ticker);
                // console.log('chord: ', crd);

                var isFrst = 1,
                    tickNotes = 0;

                $.each(
                    crd.chord,
                    function(ntIdx, note){
                        var derivedNoteIdx = ticker + tickNotes;
                        // console.log('playing note; tickNotes - ticker:' + tickNotes + '-' + ticker);
                        // console.log('derived note idx: ' + derivedNoteIdx);
                        // console.log('note var (chould be obj):', note);
                        playNote(note, derivedNoteIdx);
                        tickNotes ++;
                    }
                );
                return tickNotes;
            }
            /**
             * Use MIDI player to play a single note.
             *
             * @param  {} dl [description]
             * @param  {[type]} nt [description]
             * @return {[type]}    [description]
             */
            function playNote(nt, noteInSongIndex)
            {

                var
                    note = nt.note.midi,    // the MIDI note
                    //delay = nt.note.time,
                    delay = (nt.note.delay || defaultDelay) * noteInSongIndex,   // midi delay (abso time not used)
                    otherDelay = nt.note.absoTime,
                    vol = nt.note.vol || 127,
                    velocity = nt.note.velocity || 127;         // how hard the note hits (required; todo: move to server)
                console.log(' other delay: ' + otherDelay);
                // play the note
                MIDI.setVolume(0, vol);
                MIDI.noteOn(0, note, velocity, otherDelay);
                MIDI.noteOff(0, note, otherDelay + .2);

            }
	    }
    });

    /**
     * Stop all notes playing on the MIDI player
     *
     * @param  {[type]} ev [description]
     * @return {[type]}    [description]
     */
    var stopPlay = function(ev)
    {
        MIDI.stopAllNotes();

    }

    $('body').find('.stop-button')
    .on('click', stopPlay);
};
/**
 * Create a string of binary data that will be a
 * download-ready MIDI file
 *
 * @param  {array}      sng Writeable-notation musical notes array
 *
 * @return {undefined}      Function triggers download in client
 */
var write = function(sng)
{
    var noteEventsFile = [];
    //Each item in "sng" is a single note
    sng.forEach(function(noteObj) {

        var pushEvts = [];
        noteEventsFile.push(
            MidiEvent.noteOn(noteTable[noteObj.note], 10)
        );
        noteEventsFile.push(
            MidiEvent.noteOff(noteTable[noteObj.note], noteObj.duration)
        );
    });

    var writeTrack = new MidiTrack({ events: noteEventsFile  }),
        writeSong  = MidiWriter({ tracks: [writeTrack] });

    writeSong.save();
}

</script>
<body>
<div class="container">
    <div class="music">
      Playing script-manipulated song
      <button class="stop-button"></button>
    </div>
</div>
</body>
</html>
